.App-header h2 {
  margin-top: -20px;
}
.App-header input {
  border-radius: 4px;
  width: 150px;
  height: 30px;
  font-size: 17px;
  font-weight: 500;
}
.App-header button focus {
  outline: 0;
}
.App {
  height: 100%;
  background-color: gray;
}
.App-header button {
  width: 50px;
  height: 35px;
  padding-top: 6px;
}
.App-header h2 {
  font-size: 34px;
}
